
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="ConfiguracionSoldaduraLabelNavegacion"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("WPS", "WPS")"><span id="WPSLabelNavegacion"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-11 col-sm-12 col-md-12 col-lg-11">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="ArmadoSoldaduraDivSuperior" class="button-section">
                    <a id="ArmadoSoldaduraSuperior" href="@Url.Action("WPS","WPS")" class="btn btn-primary"><span id="menuWPS"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*FORMULARIO WPS*@
    <div class="row" id="FieldSetView">
        <div class="row">
            <input id="WPSID" type="hidden" value="0"/>
            <div id="DivNombreWPS" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group">
                <label id="WPSNombre"></label>
                <input id="NomnreWPS" class="form-control general-input" />
            </div>
            <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group">
                <label id="">Espesor Maximo</label>
                <label id="EspesorMaximoWPS">0</label>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group">
                <label id="">Espesor Mínimo</label>
                <label id="EspesorMinimoWPS">0</label>
            </div>
            @*<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group">
                <label id="WPSProyecto"></label>
                <input id="Proyecto" class="" />
            </div>*@

        </div>
        <div class="row">
            <fieldset id="fieldSetRaiz">
                <legend style="padding-left:10px;" id="legendRaiz">Raiz</legend>
                <div id="DivNombrePQRRaiz" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label id="WPSPQR"></label>
                    <input id="PQRRaizNombre" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label id="WPSPQRGrupoP"></label>
                    <input id="grupoPRaiz" readonly="readonly" class="general-input" />
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="">E. Raiz</label>
                    <label id="RaizEspesorRaiz">0</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="">E. Relleno</label>
                    <label id="RaizEspesorRelleno">0</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="WPSPWHT"></label>
                    <input type="checkbox" id="PWHRaiz" data-bind="checked: optionCheck" readonly="readonly"  onclick="javascript: return false;" />
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="WPSPreHeat"></label>
                    <input type="checkbox" id="PREHEATRaiz" data-bind="checked: optionCheck" readonly="readonly"  onclick="javascript: return false;" />
                </div>
            </fieldset>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label id="">&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <fieldset id="fieldSetRelleno">
                <legend style="padding-left:10px;" >Relleno</legend>

                <div id="DivNombrePQRRelleno" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label id="WPSPQR2"></label>
                    <input id="PQRRellenoNombre" />
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label id="WPSPQRGrupoP2"></label>
                    <input id="grupoPRelleno" readonly="readonly" class="general-input" />
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="">E. Raiz</label>
                    <label id="RellenoEspesorRaiz">0</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="">E. Relleno</label>
                    <label id="RellenoEspesorRelleno">0</label>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="WPSPWHT2"></label>
                    <input type="checkbox" id="PWHRelleno" data-bind="checked: optionCheck" readonly="readonly"  onclick="javascript: return false;" />
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label id="WPSPreHeat2"></label>
                    <input type="checkbox" id="PREHEATRelleno" data-bind="checked: optionCheck" readonly="readonly"  onclick="javascript: return false;" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label id="">&nbsp;</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label id="">&nbsp;</label>
                </div>
            </fieldset>
        </div>

    </div>

    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-11 col-sm-12 col-md-12 col-lg-11">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar1" class="accionGuardar"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar1" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="ArmadoSoldaduraDivSuperior" class="button-section">
                    <a id="ArmadoSoldaduraSuperior" href="@Url.Action("WPS","WPS")" class="btn btn-primary"><span id="menuWPS1"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/AppComponents/WPS/WPSCrear/Ajax.js"></script>
<script src="~/Scripts/AppComponents/WPS/WPSCrear/Handlers.js"></script>
<script src="~/Scripts/AppComponents/WPS/WPSCrear/WPSCrear.js"></script>
<script src="~/Scripts/AppComponents/WPS/WPSCrear/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Edita WPS"] = $WPSSaveModel;
    }
</script>
